<% content_for(:title) { "Manage access" } %>

<% content_for :header do %>
  <nav>
    <%= link_to book_path(@book), class: "btn flex-item-justify-start" do %>
      <%= image_tag "arrow-left.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Go back</span>
    <% end %>
  </nav>
<% end %>

<div class="panel borderless center pad fill-none flex flex-column gap">
  <%= render partial: "access", collection: @accesses, as: :user %>
</div>
