<%= button_to leafable_path(leaf), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn--negative" do %>
  <%= image_tag "trash.svg", aria: { hidden: true }, size: 24 %>
  <span class="for-screen-reader">Delete this page</span>
<% end %>
