<%= render "leaves/history", leaf: @leaf %>

<% content_for :footer do %>
  <nav class="book__nav flex align-center gap justify-center">
    <span class="flex-item-justify-start">
      <%= render "leaves/delete", leaf: @leaf %>
    </span>
    <span class="flex-item-justify-start">
      <%= link_to_next_leafable(leaf, hotkey: false, for_edit: true) %>
    </span>
    <span class="btn btn--placeholder flex-item-jusitfy-end"></span>
  </nav>
<% end %>
