<% content_for :footer do %>
  <nav class="book__nav flex align-center gap">
    <span class="btn btn--placeholder flex-item-justify-start"></span>

    <%= link_to_next_leafable(leaf, hotkey: false, for_edit: true) %>

    <span class="flex-item-justify-end">
      <%= render "leaves/delete", leaf: @leaf %>
    </span>
  </nav>
<% end %>
