<% if edit = leaf.edits.sorted.first %>
  <%= link_to page_edit_path(edit.leaf.leafable, edit, class: "btn btn--transparent" ) do %>
    <%= image_tag "history.svg", aria: { hidden: "true" }, size: "24" %>
    <span class="for-screen-reader">Last updated <%= time_ago_in_words(edit.updated_at) %> ago</span>
  <% end %>
<% end %>
