#main {
  --footer-height: calc((var(--block-space) * 2) + var(--btn-size));

  container-type: inline-size;
  margin: var(--block-space) 0 var(--footer-height) auto;
  padding-inline: clamp(2ch, 6%, 6ch);
  text-align: start;
}

#header {
  border-block-end: 1px solid var(--color-border-dark);
  inset: 0 0 auto 0;
  position: sticky;
}

#footer {
  border-block-start: 1px solid var(--color-border-dark);
  inset: auto 0 0 0;
  position: fixed;
}

:where(#header, #footer) {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: oklch(var(--lch-white) / 0.5);
  z-index: 1;

  > * {
    align-items: center;
    display: flex;
    gap: 1ch;
    justify-content: center;
    padding: var(--block-space-half) var(--inline-space);
  }
}
