body:has(.page--section) {
  --btn-background: var(--color-subtle);

  background-color: var(--color-subtle);

  .separator {
    border-color: var(--color-subtle);
  }
}

#main:has(.page--section, .page--picture) {
  display: grid;
}

.page-toolbar {
  --padding-block: 0.5em;

  border-radius: 5em;
  display: inline-flex;
  margin: var(--block-space-half) auto;
  padding: var(--padding-block) 1.1em;
  transition: background-color 300ms ease;

  house-md-toolbar {
    --hover-size: 0;

    padding: 0;

    button, label {
      &:is(:focus, :hover) {
        background-color: var(--color-bg);
      }
    }
  }

  .separator {
    border-color: var(--color-bg);
    border-width: 3px;
    margin-block: calc(-1 * var(--padding-block));
  }
}

:is(.page__body, .page--page) {
  text-align: start;
}

:is(.page--section, .page--picture) {
  place-self: center;
}
